* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}


/* ___fine regole generiche____ */

/* _______barra menu a lato____ */
aside.aside-menu, main {
    float: left;
    height: calc(100vh - 100px);
    position: relative;
}

aside.aside-menu {
    background-color: #121212;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo > img.logo-desktop {
    display: none;
}

.logo > img.logo-mobile {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* ____inizio lista menu aside________ */

.ul-menu-aside >ul > li {
    padding: 10px 0;
    text-align: center;
}

.ul-menu-aside >ul > li > a {
    color: #e5f6dbc9;
}

.ul-menu-aside >ul > li > a span {
    display: none;
}

.ul-menu-aside >ul > li > a > i {
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.ul-menu-aside >ul > li > a > i:hover {
    color: #fff;
}

/* ____inizio lista sottomenu aside________ */

.sottomenu-aside {
    display: none;
}

/* ____inizio aside menu bottom___ */

.aside-menu-bottom {
    width: 80%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.aside-menu-bottom span {
    display: none;
}

.app-install-link {
    border-bottom: 1px solid #e5f6dbc9;
    padding-bottom: 20px;
}

.app-install-link::before {
    content: '\f358';
    font-family: "font awesome 5 free";
    font-weight: 100; /*se metto bold viene 'piena'*/
    display: block;
    font-size: 30px;
    color: #e5f6dbc9;
    cursor: pointer;
}

.user-icon::before {
    content: '\f007';
    font-family: "font awesome 5 free";
    font-weight: bold;
    display: block;
    font-size: 40px;
    color: #e5f6dbc9;
    cursor: pointer;
    margin-top: 20px;
}

/* sezione main con titolo e immagini brani / artisti */

main {
    background: linear-gradient(45deg, rgba(0,0,0,0.9304096638655462) 41%, rgba(30,215,96,1) 100%);
    width: calc(100% - 70px);
    overflow: auto;
    text-align: center;
}

.toggle-menu {
    position: relative;
    height: 60px;
}

.toggle-menu::after {
    content: '\f0c9';
    font-family: "font awesome 5 free";
    font-weight: bold;
    display: block;
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 15px;
    top: 10px;
    cursor: pointer;
}

.main-desktop-menu {
    display: none;
}

.container-main {
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.container-main-images  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-p-title > p {
    margin: 0 0 50px 0;
}

.single-image {
    margin: 20px;
}

.single-image > p {
    font-size: 16px;
    margin: 15px 0;
}

.img-artists {
    width: 85px;
    height: 85px;
}

.img-artists > img {
    width: 100%;
    cursor: pointer;
}

.img-radius > img {
    border-radius: 50%;
}

.four-images::after {
    content: '';
    display: table;
    clear: both;
}

.four-images > img {
    float: left;
    width: 50%;
}

/* ________footer________ */
footer {
    width: 100%;
    height: 100px;
    background-color: #2b352a;
    position: fixed;
    bottom: 0;
}

.footer-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.play-bar-left {
    display: flex;
    align-items: center;
    position: relative;;
}

.play-bar-left::after {
    content: '\f004';
    display: inline-block;
    font-family: "font awesome 5 free";
    font-weight: 100; /*se metto bold viene 'piena'*/
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 75px;
}

.play-bar-left-img {
    width: 60px;
    height: 60px;
    margin-left: 5px;
}

.play-bar-left-img > img {
    width: 100%;
}

.play-bar-left-text > small {
    display: none;
}

/* slider scorrimento brano */

.play-bar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 45px;
    margin-right: 45px;
}

.slider-track-container {
    width: 100%;
}

.track-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  border-radius: 3px;
  position: relative;
}

.track-slider:hover {
  opacity: 1;
}

/*  Per Chrome, Opera, Safari, Edge*/
.track-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #faeda5;
  cursor: pointer;
  border-radius: 50%;
}

/* per firefox */
.track-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #faeda5;
  cursor: pointer;
  border-radius: 50%;
}

.track-slider::before {
    display: block;
    content: '2.52';
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -5px;
    left: -35px;
}

.track-slider::after {
    display: block;
    content: '1.08';
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -35px;
}

.track-slider-icons > i {
    color: #fff;
    font-size: 15px;
    margin: 0 7px 13px 7px;
    cursor: pointer;
}

/* slider scorrimento volume */

.play-bar-right {
    display: none;
}








/* @@@@@@@@@@________inizio media______ @@@@@@@@@@ */

@media screen and (min-width: 768px) {

    /* ____inizio menu aside________ */
    aside.aside-menu {
        width: 200px;
    }

    .logo img.logo-desktop {
        display: block;
        width: 100%;
        padding: 20px;
    }

    .logo img.logo-mobile {
        display: none;
    }

    /* ____inizio lista menu aside________ */

    .ul-menu-aside >ul > li {
        padding: 10px 20px;
        text-align: left;
    }

    .ul-menu-aside >ul > li > a {
        padding: 5px;
        border: 2px solid transparent;
    }

    .ul-menu-aside >ul > li > a span {
        display: inline-block;
        font-size: 18px;
    }

    .ul-menu-aside >ul > li > a:hover {
        border-left: 2px solid gold;
        color: #fff;
    }

    .ul-menu-aside >ul > li > a > i {
        margin-top: 0;
        margin-right: 10px;
    }

    /* ____inizio lista sottomenu aside________ */

    .sottomenu-aside {
        display: block;
        margin-top: 30px;
        padding: 0 20px;
    }

    .sottomenu-aside > ul > li > a {
        display: inline-block;
        color: #e5f6dbc9;
        font-size: 14px;
        margin: 5px 0;
        border: 1px solid transparent;
    }

    .sottomenu-aside > ul > li > a:hover {
        color: #fff;
        border-bottom: 1px solid gold;
    }

    /* _____inizio menu aside bottom_____ */

    .aside-menu-bottom {
        text-align: left;
    }


    .aside-menu-bottom span {
        display: inline-block;
        color: #e5f6dbc9;
        margin-left: 20px;
        cursor: pointer;
    }

    .app-install-link > span {
        font-size: 14px;
        letter-spacing: 0.9px;
    }

    .user-icon > span {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1.3px;
    }

    .app-install-link::before {
        display: inline-block;
        font-size: 20px;
    }

    .user-icon::before {
        display: inline-block;
        font-size: 30px;
    }


    /* _________inizio main________ */
    main {
        width: calc(100% - 200px);
    }

    .img-artists {
        width: 175px;
        height: 175px;
    }

    .container-main-images {
        justify-content: flex-start;
    }

    .container-main {
        width: 440px;
        margin: auto;
    }

    /* _____inizio footer_____ */

    .footer-container {
        justify-content: space-between;
    }

    .play-bar-left-img {
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }

    .play-bar-left::after {
        position: static;
        margin-left: 10px;
    }

    /* _________track slider__________ */

    .play-bar-center {
        margin-left: 60px;
        margin-right: 100px;
    }

    .track-slider-icons > i {
        font-size: 25px;
        margin: 0 15px 13px 15px;
    }

    /*___________ volume slider______ */

    .play-bar-right {
        display: flex;
        margin-right: 40px;
    }

    .volume-slider {
      -webkit-appearance: none;
      appearance: none;
      width: 80px;
      height: 3px;
      background: #fff;
      outline: none;
      opacity: 0.7;
      border-radius: 3px;
      position: relative;
    }

    .volume-slider:hover {
      opacity: 1;
    }

    /*  Per Chrome, Opera, Safari, Edge*/
    .volume-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #faeda5;
      cursor: pointer;
      border-radius: 50%;
    }

    /* per firefox */
    .volume-slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: #faeda5;
      cursor: pointer;
      border-radius: 50%;
    }


    .volume-slider::before {
        content: '\f026';
        font-family: "font awesome 5 free";
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        position: absolute;
        top: -5px;
        left: -30px;
    }

    .volume-slider::after {
        content: '\f028';
        font-family: "font awesome 5 free";
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        position: absolute;
        top: -5px;
        right: -30px;
    }

}



/* _____media messa per fluidità card____ */

@media screen and (min-width: 870px) {

    .container-main {
        width: 653px;
        margin: auto;
    }
}


@media screen and (min-width: 992px) {

    /* ____toggle menu sezione main____ */

    .toggle-menu {
        height: auto;
    }

    .toggle-menu::after {
        display: none;
    }

    /* _______inizio menu sezione main_______ */

    .container-main {
        padding: 50px 0 30px 0;
    }

    .main-desktop-menu {
        display: block;
        margin-top: 30px;
    }

    .main-desktop-menu > ul > li {
        display: inline-block;
    }

    .main-desktop-menu > ul > li > a {
        display: inline-block;
        padding: 5px;
        margin: 0 13px;
        color: #e2e5cbe6;
        font-size: 15px;
        border: 2px solid transparent;
    }

    .main-desktop-menu > ul > li > a:hover {
        color: #fff;
        border-bottom: 2px solid gold;
    }

    .main-p-title > p {
        text-align: left;
        margin: 0 0 50px 20px;
    }

    /* _______inizio foooter_______ */

    .play-bar-left-text > small {
        display: block;
        margin: 10px 20px;
        color: #fff;
    }

    /* ______track slider______ */

    .track-slider {
      /* width: 400px; */
      /* width: 100%; */
    }

    .volume-slider {
      width: 100px;
    }
}


/* _____media messa per fluidità card____ */
@media screen and (min-width: 1080px) {

    .container-main {
        width: 863px;
        margin: auto;
    }
}


/* _____media messa per fluidità card____ */
@media screen and (min-width: 1300px) {

    .container-main {
        width: 1080px;
        margin: auto;
    }
}


















/* ________________________ */
